.lightblue {
  background: aliceblue;
}

.meadow {
  background: forestgreen;
}

.height800 {
  height: 800px;
}

.width640 {
  width: 640px;
}

.gridList {
  background-color: #c3e6c3;
}

.rotate90 {
  transform: rotate(90deg);
}
